extends layouts/main
block content
  .changePassword
    h3 비밀번호 변경
    form(action=routes.login, method="post")
      input(type="password", name="password", placeholder="비밀번호를 입력하세요.")
      input(type="password", name="password2", placeholder="비밀번호를 한 번 더 입력하세요.")
      input(type="submit", value="변경 완료")