extends layouts/main
block content
  .userDetail
    h3 유저 상세정보
    form()
      input(type="text", name="userName", placeholder="사용자 이름", value=userID)
      input(type="email", name="email", placeholder="사용자 이메일" )



  