extends layouts/main
block content
  .video-upload
    h3 비디오 업로드
    form(action=routes.postUpload, method="post" enctype="multipart/form-data")
      input(type="file", name="videoFile", required=true)
      input(type="text", name="videoTitle", placeholder="제목" required=true)
      input(type="textarea", name="videoDesc", placeholder="설명" required=true)
      input(type="submit", value="업로드")